.search{
    display: flex;
    justify-content: center;
}

.pic img{
    width: 100%;
}

@media screen and (width <= 768px){
    .search{
        display: flex;
        flex-direction: column;
    }
}